/*===================================
CONTACT
===================================*/

.contact{

    padding:100px 8%;

    background:#071321;

}

.contact-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    margin-top:60px;

}

.contact-left h3{

    font-size:34px;

    margin-bottom:25px;

}

.contact-left p{

    color:#9FB2C8;

    line-height:32px;

    margin-bottom:40px;

}

.contact-info{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.contact-item{

    display:flex;

    align-items:center;

    gap:18px;

    font-size:18px;

}

.contact-item i{

    color:#00D9FF;

    font-size:24px;

    width:35px;

}

.contact-item a{

    color:white;

    text-decoration:none;

}

.contact-item a:hover{

    color:#00D9FF;

}

.contact-right form{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.contact-right input,

.contact-right textarea{

    background:#0F1B2D;

    border:1px solid rgba(255,255,255,.08);

    padding:18px;

    border-radius:10px;

    color:white;

    font-size:16px;

    outline:none;

}

.contact-right input:focus,

.contact-right textarea:focus{

    border-color:#00D9FF;

}

.contact-right button{

    width:220px;

    padding:18px;

    background:#00D9FF;

    color:#071321;

    border:none;

    border-radius:10px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.contact-right button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px #00D9FF;

}