/* ===================================
   PROJECTS
=================================== */

.projects{

    padding:100px 8%;

    background:#050816;

}

.projects-grid{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:35px;

}

.project-card{

    background:#0F1B2D;

    border-radius:18px;

    border:1px solid rgba(0,217,255,.15);

    padding:35px;

    transition:.35s;

}

.project-card:hover{

    transform:translateY(-8px);

    border-color:#00D9FF;

    box-shadow:0 15px 35px rgba(0,217,255,.18);

}

.project-card h3{

    font-size:28px;

    margin-bottom:18px;

}

.project-card p{

    color:#B5C6D8;

    line-height:32px;

    margin-top:20px;

}

.project-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

}

.project-tags span{

    background:#081E34;

    border:1px solid rgba(0,217,255,.25);

    color:#00D9FF;

    padding:8px 16px;

    border-radius:30px;

    font-size:14px;

}